@using DAO
@model List<tb_Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Categorías</h2>
@Html.ActionLink("Crear","New","Categoria")
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Detalle</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.idCategoria</td>
            <td>@item.nombreCategoria</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idCategoria }) |

                @if (@item.idCategoria == 2)
                {
                    @Html.ActionLink(" ", "Activar"
                        , new { id = item.idCategoria }
                        , new
                        {
                            @class = "btn btn-success glyphicon glyphicon-ok",
                            @title = "Activar",
                            @onclick = "return confirm('¿Desea eliminar la Categoría?');"
                        })
                }
                else
                {
                    @Html.ActionLink(" ", "Delete"
                            , new { id = item.idCategoria }
                            , new
                            {
                                @class = "btn btn-danger glyphicon glyphicon-remove",
                                @title = "Eliminar",
                                @onclick = "return confirm('¿Desea eliminar la Categoría?');"
                            })
                }

            </td>
        </tr>
        }
    </tbody>
</table>

