@model DAO.tb_Meta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_Meta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.totalMeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalMeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Producto.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Producto.nombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Rol.nombreRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Rol.nombreRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_SemanaPlanificada.nombreSemanaPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_SemanaPlanificada.nombreSemanaPlan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
