@model IEnumerable<DAO.tb_Meta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.totalMeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_Producto.nombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_Rol.nombreRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_SemanaPlanificada.nombreSemanaPlan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.totalMeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Producto.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Rol.nombreRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_SemanaPlanificada.nombreSemanaPlan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
